rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    match /tasks/{taskId} {
      allow read, write: if isOwner(userId) || isCollaborator(userId);
      function isOwner(userId) {
        return request.auth.uid == resource.data.owner;
      }
      function isCollaborator(userId) {
        return userId in resource.data.collaborators;
      }
    }
  }
}

